<div id="<%= dom_id game %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= game.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User choice:</strong>
    <%= game.user_choice %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Computer choice:</strong>
    <%= game.computer_choice %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Result:</strong>
    <%= game.result %>
  </p>

</div>
